* {
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 40px;
}

.top_content {
    margin-top: 82px;
}

.top_info {
    margin-top: 60px;
}

.top_button {
    margin-top: 37px;
}

.top_logos {
    margin-top: 103px;
}