* {
    font-family: 'Roboto', Arial, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

details > summary::marker {
    display: none;
}

details > summary {
    list-style: none;
  }

