* {
    font-family: 'Roboto', Arial, sans-serif;
}

.clientForm {
    background-color: rgb(255, 170, 222);
    width: 500px;
}

.inputProductName {
    width: 493px;
}

.inputRewievText {
    width: 494px;
}

.productName {
    width: 500px;
    font-size: 24px;
    padding-bottom: 10px;
}

.textRewiev {
    width: 500px;
    font-size: 16px;
    padding-bottom: 20px;
}

.rewievs {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 170, 222);
    width: 500px;
}